services:
  db:
    image: postgres:16-alpine
    networks:
      - db_net
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: pypi_scraper
      POSTGRES_PASSWORD: password
      POSTGRES_DB: defaultdb
    deploy:
      restart_policy:
        condition: any
      placement:
          constraints:
            - node.labels.db==1
    volumes:
      - /mnt/ssd/postgres:/var/lib/postgresql/data

  broker:
    image: rabbitmq:3-management-alpine
    networks:
      - broker_net
    ports:
      - '8080:15672'
      - '5672:5672'
    environment:
      RABBITMQ_DEFAULT_USER: pypi_scraper
      RABBITMQ_DEFAULT_PASS: password
      RABBITMQ_DEFAULT_VHOST: pypi_scraper
      HOSTNAME: broker
      RABBITMQ_NODENAME: rabbit@broker
    deploy:
      restart_policy:
        condition: any
      placement:
          constraints:
            - node.labels.broker==1
    volumes:
      - /var/lib/rabbitmq:/var/lib/rabbitmq

  names_processor:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    command: ["python", "src/pipdepgraph/entrypoints/rmq_sub/package_name_processor.py"]
    deploy:
      restart_policy:
        condition: any
      replicas: 8
      placement:
        constraints:
          - node.labels.app==1
    networks:
      - db_net
      - broker_net
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: defaultdb
      POSTGRES_USER: pypi_scraper
      POSTGRES_PASSWORD: password
      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password
      RABBITMQ_CTAG_PREFIX: "names_processor.{{.Task.Slot}}."
    depends_on:
      - db
      - broker

  dists_processor:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    deploy:
      restart_policy:
        condition: any
      replicas: 4
      placement:
        constraints:
          - node.labels.app==1
    command: ["python", "src/pipdepgraph/entrypoints/rmq_sub/distribution_processor.py"]
    networks:
      - db_net
      - broker_net
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: defaultdb
      POSTGRES_USER: pypi_scraper
      POSTGRES_PASSWORD: password
      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password
      RABBITMQ_CTAG_PREFIX: "dists_processor.{{.Task.Slot}}."
      DIST_PROCESSOR_IGNORE_PROCESSED_FLAG: "true"
    depends_on:
      - db
      - broker

  candidate_correlator:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    deploy:
      restart_policy:
        condition: any
      replicas: 16
      placement:
        constraints:
          - node.labels.app==1
    command: ["python", "src/pipdepgraph/entrypoints/rmq_sub/candidate_correlator.py"]
    networks:
      - db_net
      - broker_net
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: defaultdb
      POSTGRES_USER: pypi_scraper
      POSTGRES_PASSWORD: password
      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password
      RABBITMQ_CTAG_PREFIX: "candidate_correlator.{{.Task.Slot}}."
    depends_on:
      - db
      - broker

  cdc:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    deploy:
      restart_policy:
        condition: on-failure
      replicas: 1
      placement:
        constraints:
          - node.labels.app==1
    command: ["python", "src/pipdepgraph/entrypoints/cdc/publisher.py"]
    networks:
      - db_net
      - broker_net
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: defaultdb
      POSTGRES_USER: cdc_user
      POSTGRES_PASSWORD: password

      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password
    depends_on:
      - db
      - broker

  cdc_requirements:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    deploy:
      restart_policy:
        condition: on-failure
      replicas: 1
      placement:
        constraints:
          - node.labels.app==1
    command: ["python", "src/pipdepgraph/entrypoints/cdc/requirements_subscriber.py"]
    networks:
      - broker_net
    environment:
      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password
    depends_on:
      - broker

  # cdc_versions:
  #   image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.0
  #   deploy:
  #     restart_policy:
  #       condition: on-failure
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.labels.role==app
  #   command: ["python", "src/pipdepgraph/entrypoints/cdc/versions_subscriber.py"]
  #   networks:
  #     - db_net
  #     - broker_net
  #   environment:
  #     POSTGRES_HOST: db
  #     POSTGRES_DB: defaultdb
  #     POSTGRES_USER: pypi_scraper
  #     POSTGRES_PASSWORD: password

  #     RABBITMQ_HOST: broker
  #     RABBITMQ_VHOST: pypi_scraper
  #     RABBITMQ_USERNAME: pypi_scraper
  #     RABBITMQ_PASSWORD: password
  #   depends_on:
  #     - db
  #     - broker

  unprocessed_record_loader:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    deploy:
      restart_policy:
        condition: on-failure
      replicas: 0
      placement:
        constraints:
          - node.labels.app==1
    command: ["python", "src/pipdepgraph/entrypoints/rmq_pub/unprocessed_records.py"]
    networks:
      - db_net
      - broker_net
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: defaultdb
      POSTGRES_USER: pypi_scraper
      POSTGRES_PASSWORD: password

      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password

      UPL_LOAD_DISTRIBUTIONS: "false"
      UPL_ONLY_LOAD_BDIST_WHEEL_DISTRIBUTIONS: "false"
      UPL_ONLY_LOAD_UNPROCESSED_DISTRIBUTIONS: "false"
      UPL_LOAD_PACKAGE_NAMES: "false"
      UPL_LOAD_INCOMPLETE_REQUIREMENTS: "false"
      UPL_LOAD_REQUIREMENTS_FOR_CANDIDATE_CORRELATION: "false"
    depends_on:
      - db
      - broker

  pypi_loader:
    image: rpi-cluster-4b-1gb-1:5000/pypi_scraper/app:1.0.2
    deploy:
      restart_policy:
        condition: on-failure
      replicas: 0
      placement:
        constraints:
          - node.labels.app==1
    command: ["python", "src/pipdepgraph/entrypoints/rmq_pub/pypi_package_names.py"]
    networks:
      - db_net
      - broker_net
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: defaultdb
      POSTGRES_USER: pypi_scraper
      POSTGRES_PASSWORD: password
      RABBITMQ_HOST: broker
      RABBITMQ_VHOST: pypi_scraper
      RABBITMQ_USERNAME: pypi_scraper
      RABBITMQ_PASSWORD: password
    depends_on:
      - db
      - broker

networks:
  db_net:
  broker_net:
